Semestral work for PA2 at FIT CTU
Programmer: Tomáš Kratschmer
Graphics: Pavel Macalla
Libraries: libsdl2, libxml2
Goblin texture by luizmelo
Troll texture by Tracy
Music: MusicalWave - Celtic (by Tunetank)
